<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
	<link rel="stylesheet" type="text/css" href="css/dropdown.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap" rel="stylesheet">
</head>
<body>
	<div class="container">
		<div class="left-column">
			<div class="sidenav">
				<a href="/">Home</a>
				<a href="#">DevOps Overview</a>
				<button class="dropdown-btn">Learn a Programming Language
					<i class="fa fa-caret-down"></i>
				</button>
				<div class="dropdown-container">
					<a href="#">HTML</a>
					<a href="#">CSS</a>
					<a href="#">JS</a>
					<a href="#">Express JS</a>
				</div>
				<a href="#">Continuous Integration: In progress</a>
				<a href="#">Continuous Delivery: In progress</a>
				<a href="#">Monitoring Software and Infrastructure: TBD</a>
				<a href="#">Cloud Providers: TBD</a>
			</div>
		</div>
		<div class="content">
			<h1 id="welcome">Welcome</h1>
			<p>DevOpsLearning is a repository where I document my journey 
				of learning various DevOps practices and tools to improve 
				the speed and quality of software development, deployment, 
				and maintenance. The goal is to develop a minimal application 
				(this webpage) that utilizes various services commonly used 
				in the DevOps lifecycle. I will release markdown 
				notes of my findings and plans, so others can benefit from 
				it and enhance the resources.
			</p>
			<p>This will not cover all things "DevOps" but it will 
				cover the areas that I feel will benefit my learning 
				and understanding overall.
			</p>
			<h2 id="course-of-action">Course of Action</h2>
			<p>To achieve my goal, I plan to gain knowledge on the 
				following concepts:
			</p>
				<ul>
					<li>Learn a programming language</li>
					<li>Infrastructure as Code</li>
					<li>Continuous Integration</li>
					<li>Continuous Delivery</li>
					<li>Monitoring software and infrastructure</li>
					<li>Cloud providers</li>
				</ul>
			<p>The DevOps stack I plan to incorporate for this repository includes:</p>
			<ul>
				<li>HTML, CSS, JS, and Node JS for full-stack development</li>
				<li>GitHub for version control</li>
				<li>Docker for containerization</li>
				<li>Jenkins for CI/CD</li>
				<li>Terraform for infrastructure monitoring</li>
				<li>Jaegar for application monitoring</li>
				<li>AWS ECR for application deployment</li>
			</ul>
			<h2 id="additional-information">Additional Information</h2>
			<p>If there is any questions, comments, 
				concerns, or any additional information
				 that you believe should be added, please
				  raise a pull request.</p>
		</div>
	<div class="right-column">
		<strong><p>Contents</p></strong>
		<a href="#welcome">Welcome</a>
		<a href="#course-of-action">Course of Action</a>
		<a href="#additional-information">Additional Information</a>
	</div>
	<script src="js/index.js"></script>
</body>
</html>