<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
	<link rel="stylesheet" type="text/css" href="css/dropdown.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<div class="container">
		<div class="left-column">
			<div class="sidenav">
				<a href="/">Home</a>
				<a href="#">DevOps Overview</a>
				<button class="dropdown-btn">Learn a Programming Language
					<i class="fa fa-caret-down"></i>
				</button>
				<div class="dropdown-container">
					<a href="#">HTML</a>
					<a href="#">CSS</a>
					<a href="#">JS</a>
					<a href="#">Express JS</a>
				</div>
				<a href="#">Continuous Integration: In progress</a>
				<a href="#">Continuous Delivery: In progress</a>
				<a href="#">Monitoring Software and Infrastructure: TBD</a>
				<a href="#">Cloud Providers: TBD</a>
			</div>
		</div>
		<div class="content">
			<h1>Welcome</h1>
			<p>This repository is used to document my 
				learning on getting a better understanding 
				of the processes and practices used to improve 
				the speed and quality of software developement, 
				deployement, and maintenance. I plan to develop a 
				minimal application that utilizes various servies 
				commonly used in the DevOps lifecycle. In addition 
				to the development, I will release markdown notes 
				each day of findings/plans. The reason for documenting 
				these days is so that others can take something from 
				it and also hopefully enhance the resources.</p>
			<p>This will not cover all things "DevOps" but it will 
				cover the areas that I feel will benefit my learning 
				and understanding overall.</p>
		</div>
	<div class="right-column">
		<a href="/">Welcome</a>
	</div>
	<script src="js/index.js"></script>
</body>
</html>