<div class="sidenav">
    <a href="/">Home</a>
    <a href="devops_overview">DevOps Overview</a>
    <button class="dropdown-btn">Learn a Programming Language
        <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
        <a href="#">HTML</a>
        <a href="#">CSS</a>
        <a href="#">JS</a>
        <a href="#">Express JS</a>
    </div>
    <a href="infrastructure_as_code">Infrastructure as Code: In progress</a>
    <a href="#">Continuous Integration: In progress</a>
    <a href="#">Continuous Delivery: In progress</a>
    <a href="#">Monitoring Software and Infrastructure: TBD</a>
    <a href="#">Cloud Providers: TBD</a>
</div>